main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

div[id^="note_"] {
  flex-direction: column;
  margin: 1em;
  text-align: left;
}

.translation-note-view {
  width: 100%;
}
