#notePosition {
  width: "100%";
  margin-bottom: "20px";
}

.columnContainer {
  display: "flex";
  width: "100%";
}

.arrowButton {
  flex-basis: "5%";
  flex-grow: 0;
  flex-shrink: 0;
}

#note-container {
  flex-grow: 1;
  text-align: "center";
}
